:root {
    --stopsign-width: 1200px;
    --stopsign-height: 1200px;

    --img-base-height: 500px;
    --img-base-width: 250px;
}


body {
  background-color: #f0ead6;
}


.stop-sign {
  position: relative;
  width: var(--stopsign-width);
  height: var(--stopsign-height);
  margin: auto;
  border: 1px solid lightgray;
}

.oct-img {
  background: red;
  position: absolute;
  width: calc(var(--img-base-width) * var(--img-scale, 1));
  height: calc(var(--img-base-height) * var(--img-scale, 1));
  z-index: calc(var(--img-scale) * 100);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.oct-img:nth-child(1) { --img-scale: .7; transform: translate(-50%, -50%) rotate(0deg) translate(500px) rotate(-0deg);} /* East */ 
.oct-img:nth-child(2) { --img-scale: .8; transform: translate(-37%, -85%) rotate(45deg) translate(350px) rotate(-45deg);} /* SouthEast */
.oct-img:nth-child(3) { --img-scale: 1; transform: translate(-50%, -70%) rotate(90deg) translate(250px) rotate(-90deg) ;} /* South */
.oct-img:nth-child(4) { --img-scale: .8; transform: translate(-63%, -85%) rotate(135deg) translate(350px) rotate(-135deg);} /* South West */
.oct-img:nth-child(5) { --img-scale: .7; transform: translate(-50%, -50%) rotate(180deg) translate(500px) rotate(-180deg);} /* West */
.oct-img:nth-child(6) { --img-scale: .6; transform: translate(-0%, -0%) rotate(225deg) translate(500px) rotate(-225deg); } /* North West */
.oct-img:nth-child(7) { --img-scale: .5; transform: translate(-50%, -50%) rotate(270deg) translate(250px) rotate(-270deg);} /* North */
.oct-img:nth-child(8) { --img-scale: .6; transform: translate(-100%, -0%) rotate(315deg) translate(500px) rotate(-315deg);} /* North East */

